#vGitssue {
  position: fixed;
  z-index: 100000;
  border: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s;
}

#vGitssue:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#wrapper_canvas {
  position: absolute;
  left: 0;
  z-index: 99999;
}