&-sidebar {
  position: relative;
  background-color: $black;
  overflow: hidden;

  > div {
    width: calc(100% + 17px);
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .user {
    position: absolute;
    left: 0;
    top: 0;        
    padding-top: 0.5rem;
    width: 100%;    
    background-color: $black;
    z-index: 1;
    box-shadow: 0 5px 5px -3px $black;    

    &:after {
      content: '';
      display: block;
      height: 1px;
      margin: 1rem 0.7rem 0 0.7rem;
      background-color: lighten($black, 8%);
    }

    &__profile {
      display: block;
      margin: auto;
      width: 3rem;
      height: 3rem;
      background-color: transparent;      
      border-radius: 3px;    
      cursor: pointer;          
    }
  }

  .repos {
    padding-top: 5.3rem;
  }

  .repo {
    position: relative;    
    margin: 0 auto 0.75rem auto;
    width: 3rem;
    height: 3rem;
    background-color: lighten($black, 8%);
    border-radius: 100%;    
    color: white;    
    cursor: pointer;    
    transition: all 0.3s;
    box-shadow: $shadow-0;     

    &:hover:not(.repo--plus) {
      background-color: $blue;
      border-radius: 1rem;
    }

    &--plus {
      background: transparent;
      border: 1px dashed rgba(255, 255, 255, 0.5);
      color: rgba(255, 255, 255, 0.5);

      i {
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 2.5rem;
        transform: translate(-50%, -50%);
      }

      &:hover {
        border-color: white;
        color: white;
      }
    }

    &.router-link-active {
      background-color: $blue;
      border-radius: 1rem !important;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: -20%;

        height: 80%;
        width: 5px;
        border-top-right-radius: 0.7rem;
        border-bottom-right-radius: 0.7rem;
        background-color: white;
        transform: translateY(-50%);        
      }
    }

    &__name {
      position: absolute;
      left: 50%;
      top: 50%;
      white-space: nowrap;
      transform: translate(-50%, -50%);
    }

    &__openIssues {
      position: absolute;
      left: 85%;
      top: 90%;

      padding: 0.25rem 0.3rem;
      background-color: red;
      border-radius: 1rem;
      font-size: 0.7rem;
      transform: translate(-50%, -50%);
    }
  }
}