&-footer {
  display: flex;

  background-color: $lightgray;
  border-top: 1px solid lightgray;

  li {
    flex: 1;

    position: relative;
    padding: 37px 10px 7px 10px;
    color: gray;
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;

    &.active {
      color: $blue;
    }
    
    i {
      position: absolute;
      left: 50%;
      top: 5px;
      font-size: 30px;
      transform: translateX(-50%);
    }
  }
}