.comment {
  display: flex;

  position: relative;

  &:hover .comment-control {
    z-index: 1;
  }

  .column {    

    &--left {
      margin-right: 1.25rem;
    }

    &--right {
      flex: 1;
      overflow: hidden;
    }
  }

  &__authorAvatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 3px;
  }

  &-info {
    display: flex;
    align-items: baseline;

    margin-bottom: 0.5rem;

    &__authorName {
      font-size: 1rem;
      font-weight: 500;
      color: white;
    }

    &__createdAt {
      margin-left: 0.5rem;
      font-weight: normal;
      font-size: 0.9rem;
      color: rgba(255, 255, 255, 0.7);
    }
  }

  &-control {
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;    
    border-radius: 3px;
    overflow: hidden;
    z-index: -1;
    box-shadow: $shadow-1;
    
    &__select {
      display: block;
      position: relative;
      padding: 0.4rem  0.6rem;
      cursor: pointer;
      text-align: center;
      font-size: 0.8rem;
      color: lighten($black, 10%);

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }

      &--delete {
        color: red;
      }
    }
  }

  &-body {

  }

  &-actions {
    display: flex;
    justify-content: flex-end;

    margin-top: 1rem;
    padding: 0 0 0.3rem;

    &__button {
      margin: 0 0.3rem;
      padding: 0.5rem 0.8rem;
      background-color: $black;
      color: white;
      cursor: pointer;
      border: none;
      border-radius: 3px;
      outline: none;
      font-size: 0.9rem;
      font-weight: 500;
      box-shadow: $shadow-0;
      transition: all 0.2s;
  
      &:hover {
        box-shadow: $shadow-1;
      }

      &--disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }

      &--cancel {
        background-color: transparent;
        box-shadow: none;

        &:hover {
          box-shadow: none;
          background-color: lighten($black, 5%);
        }
      }

      &--close,
      &--reopen {
        margin-right: auto;
      }

      &--close {
        background-color: red;
      }

      &--reopen {
        background-color: $blue;
      }
    }
  }
}
