$color_1: #000;
$color_3: #3498db;
$color_4: #2980b9;

p {
	margin-bottom: 10px;  
  font-size: 15px;
  line-height: 1.5;
	color: $color_1;
}

h1, h2, h3, h4 {
  margin: 20px 0 10px;
  // padding-bottom: 5px;
  line-height: 1.5;
  // border-bottom: 1px solid #ccc;
}

h1 {
	font-size: 32px;
  font-weight: 600;
}

h2 {
	font-size: 24px;
  font-weight: 600;
}

h3 {
	font-size: 20px;
  font-weight: 600;
}

h4 {
	font-size: 16px;
  font-weight: 600;
}

h5 {
	font-size: 14px;
  font-weight: 600;
}

h6 {
	font-size: 12px;
  font-weight: 600;
}

small {
	font-size: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

canvas {
	max-width: 100%;
}

iframe {
	max-width: 100%;
}

video {
	max-width: 100%;
}

svg {
	max-width: 100%;
}

select {
	max-width: 100%;
}

textarea {
	max-width: 100%;
}

a {
  color: $color_3;
  
	&:visited {
		color: $color_3;
  }
  
	&:hover {
		color: $color_4;
  }
  
	&:focus {
		color: $color_4;
  }
  
	&:active {
		color: $color_4;
	}
}

blockquote {
	margin: 0;
	border-left: 5px solid #7a7a7a;
	font-style: italic;
	padding: 18px;
	text-align: left;
}

ul {
	text-align: left;
}

ol {
	text-align: left;
}

li {
	text-align: left;
}