@import 'variables/all';  
@import 'base/all';
@import 'components/all';

html, body {
  height: 100%;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  background-color: #24292e;
  color: #24292e;

  &.extend {
    background-color: white;
  }

  & > .ion-social-github {
    position: absolute;
    left: 50%;
    top: 50%;

    padding: 1rem;
    font-size: 55px;
    color: white;

    transform: translate(-50%, -50%);
  }
}

#wrapper_canvas {
  position: absolute;
  left: 0;
  right: 0;
}