.issuesWrapper {
  display: flex;
  height: 100%;
  
  .issuesPage {
    flex: 0 0 20rem;

    .control {
      margin: 0.75rem 0;      
      padding: 0 0.75rem;

      &__search {
        padding: 0.7rem 0.5rem;
        width: 100%;
        background-color: lighten($black, 5%);
        border: none;
        border-radius: 0.5rem;
        outline: none;
        font-size: 0.9rem;
        caret-color: white;       
        color: white; 
        box-sizing: border-box;
        box-shadow: inset 0 0 2px $black;
      }

      &-states {
        display: flex;
        margin-top: 0.5rem;

        &__select {
          flex:  1;

          margin-right: 0.5rem;
          padding: 0.5rem;
          text-align: center;          
          font-size: 0.9rem;
          color: white;
          cursor: pointer;
          border-radius: 3px;
          opacity: 0.5;          
          transition: all 0.2s;

          &:hover { 
            background-color: lighten($black, 5%);
            opacity: 0.75;
          }

          &--active {
            background-color: lighten($black, 5%);            
            box-shadow: $shadow-0;
            opacity: 1 !important;
          }

          &--open {
            border-left: 3px solid $blue;
          }
  
          &--closed {
            border-left: 3px solid red;
          }
        }
      }
    }

    .issue {
      margin: 0.75rem;
      padding: 0.5rem 0.75rem;
      border-radius: 3px;
      cursor: pointer;
      background-color: lighten($black, 10%);
      box-shadow: $shadow-0;
  
      &:hover {
        background-color: lighten($black, 11.5%);
      }
  
      &.router-link-active {
        background-color: lighten($black, 13%);
      }
  
      &--open {
        border-left: 3px solid $blue;
      }
  
      &--closed {
        border-left: 3px solid red;
      }
  
      &__tag {
        display: inline-block;
        margin-right: 0.3rem;
        padding: 0.3rem;
        border-radius: 3px;
        font-size: 0.7rem;
        box-shadow: $shadow-1;
      }
  
      &__title {
        margin: 0.3rem 0;
        font-size: 1rem;
        line-height: 1.2;
      }
  
      &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.7);
  
        i {
          margin-right: 0.3rem;
        }
      }
    }
  }

  .router-view {
    flex: 1;
    color: white;
    background-color: lighten($black, 11%);
  }
}