.issuesWrapper {
  display: flex;
  height: 100%;
  
  .issuesPage {
    flex: 0 0 20rem;

    // fix glitch when transition
    transform: translateZ(0);

    .query {
      margin: 0 1rem 1.2rem 1rem;      
      padding: 1rem 0 1.2rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      &__search {
        padding: 0.7rem 0.5rem;
        width: 100%;
        background-color: lighten($black, 4%);
        border: none;
        border-radius: 0.3rem;
        outline: none;
        font-size: 0.9rem;
        caret-color: white;       
        color: white; 
        box-sizing: border-box;
        box-shadow: inset 0 0 3px $black;
      }

      &-control {
        display: flex;
        align-items: center;

        margin-top: 0.75rem;

        &__state {
          margin-right: 0.5rem;
          padding: 0.5rem;
          border-radius: 3px;          
          text-align: center;          
          font-size: 14px;
          color: white;
          cursor: pointer;
          text-transform: capitalize;
          opacity: 0.5;          
          transition: all 0.2s;

          &:hover { 
            opacity: 0.75;
          }

          &--active {
            box-shadow: $shadow-0;
            opacity: 1 !important;
            font-weight: 500;            
          }

          &--open {
            background-color: $blue;
          }
  
          &--closed {
            background-color: red;
          }
        }

        &__refresh {
          position: relative;
          margin-left: auto;          
          width: 2rem;
          height: 2rem;
          background-color: $black;          
          border-radius: 100%;
          cursor: pointer;
          box-shadow: $shadow-0;
          transition: all 0.2s;

          &:hover {
            width: 5.5rem;
            border-radius: 1rem;

            &:after {
              opacity: 1;
            }

            i {
              left: 1rem;
            }
          }

          &:after {
            content: 'Refresh';
            position: absolute;
            left: 3.3rem;
            top: 55%;
            font-size: 0.9rem;
            opacity: 0;
            transform: translate(-50%, -50%);
            transition: all 0.2s;
          }

          i {
            position: absolute;
            left: 55%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    .issue {
      margin: 0.75rem;
      padding: 0.5rem 0.75rem;
      border-radius: 3px;
      cursor: pointer;
      background-color: lighten($black, 10%);
      box-shadow: $shadow-0;
  
      &:hover {
        background-color: lighten($black, 11.5%);
      }
  
      &.router-link-active {
        background-color: lighten($black, 13%);
      }
  
      &--open {
        border-left: 3px solid $blue;
      }
  
      &--closed {
        border-left: 3px solid red;
      }
  
      &__tag {
        display: inline-block;
        margin-right: 0.3rem;
        padding: 0.3rem;
        border-radius: 3px;
        font-size: 0.7rem;
        box-shadow: $shadow-1;
      }
  
      &__title {
        margin: 0.3rem 0;
        font-size: 1rem;
        line-height: 1.2;
      }
  
      &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.7);
  
        i {
          margin-right: 0.3rem;
        }
      }
    }
  }

  .router-view {
    flex: 1;
    color: white;
    background-color: lighten($black, 11%);
  }
}