.issuesPage {
  display: flex;
  height: 100%;
  
  .issues {
    flex: 0 0 20rem;

    background-color: lighten($black, 8%);
    color: white;

    .issue {
      padding: 1rem;
    }
  }
  
  .router-view {
    flex: 1;
    color: white;
    background-color: lighten($black, 13%);
  }
}