.contentsView {
  display: flex;
  flex-direction: column;

  position: absolute;
  height: 100%;
  width: 100%;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #24292e;
    color: white;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    h3 {
      padding: 10px 12px;
      font-size: 15px;
    }
  }

  &-controls {
    margin-right: 10px;

    i {
      padding: 5px;
      color: rgba(255, 255, 255, 0.75);
      font-size: 20px;

      transition: color 0.2s;

      &:hover {
        color: white;
      }
    }
  }

  &-body {
    flex: 1;
  }

  &-footer {
    display: flex;

    background-color: $lightgray;
    border-top: 1px solid lightgray;

    li {
      flex: 1;

      position: relative;
      padding: 35px 10px 7px 10px;
      color: gray;
      font-size: 12px;
      text-align: center;
      text-transform: capitalize;
      cursor: pointer;

      &.active {
        color: $blue;
      }
      
      i {
        position: absolute;
        left: 50%;
        top: 0;
        font-size: 35px;
        transform: translateX(-50%);
      }
    }
  }
}