.comment {
  display: flex;

  position: relative;

  &:hover .comment-control {
    z-index: 1;
  }

  .column {    

    &--left {
      margin-right: 1.25rem;
    }

    &--right {
      flex: 1;
      overflow: hidden;
    }
  }

  &__authorAvatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 3px;
    box-shadow: $shadow-0;
  }

  &-info {
    display: flex;
    align-items: center;

    margin-bottom: 0.5rem;

    &__authorName {
      font-size: 1rem;
      font-weight: 500;
      color: white;
    }

    &__createdAt {
      margin-left: 0.5rem;
      font-weight: normal;
      font-size: 0.9rem;
      color: rgba(255, 255, 255, 0.7);
    }
  }

  &-control {
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;    
    border-radius: 3px;
    overflow: hidden;
    z-index: -1;
    box-shadow: $shadow-1;
    
    &__select {
      display: block;
      position: relative;
      padding: 0.4rem  0.6rem;
      cursor: pointer;
      text-align: center;
      font-size: 0.8rem;
      color: lighten($black, 10%);

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }

      &--delete {
        color: red;
      }
    }
  }

  &-body {

  }
}
